<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>186725420846-r5vknjkdsgsqhm2a18brn8lohqbjqb8m.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.186725420846-r5vknjkdsgsqhm2a18brn8lohqbjqb8m</string>
    <key>API_KEY</key>
    <string>AIzaSyCm5tZ8BF42Bw3JbhqLho2Stzr_Rovx24E</string>
    <key>GCM_SENDER_ID</key>
    <string>186725420846</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.organilog.com</string>
    <key>PROJECT_ID</key>
    <string>organilog-b5374</string>
    <key>STORAGE_BUCKET</key>
    <string>organilog-b5374.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:186725420846:ios:53ce02ce265c2983</string>
    <key>DATABASE_URL</key>
    <string>https://organilog-b5374.firebaseio.com</string>
    <key>CodePushDeploymentKey</key>
    <string>deployment-key-here</string>
  </dict>
</plist>